<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069732563143-evaj60nc5k9rbuj3m9jusn43mhk2cc4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069732563143-evaj60nc5k9rbuj3m9jusn43mhk2cc4u</string>
	<key>API_KEY</key>
	<string>AIzaSyBikndZC9AWWceNG1RexyurS4ev_l7vd_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1069732563143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.KRapp</string>
	<key>PROJECT_ID</key>
	<string>krapp-swkr</string>
	<key>STORAGE_BUCKET</key>
	<string>krapp-swkr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069732563143:ios:a80e2fab412881352c96e2</string>
</dict>
</plist>